.SectionSoft {
  margin-top: 10rem;
}
.SectionSoft h1 {
  font-size: 4rem;
  color: #2ecc71;
  text-align: center;
  margin-bottom: 2rem;
}

.SectionSoft hr {
  width: 20%;

  margin: auto;
  border: 1px solid #bdc3c76b;
}
@media only screen and (max-width: 75em) {
  .SectionSoft {
    margin-top: 7rem;
  }
  .SectionSoft h1 {
    font-size: 3rem;
  }
}
