.ContactSection {
  margin-top: 3rem;

  margin: 3rem auto 0 auto;
  max-width: 60rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.CardContact p {
  font-size: 1.9rem;

  text-align: center;
}

@media only screen and (max-width: 37.5em) {
  .CardContact p {
    font-size: 1.5rem;
  }

  .ContactSection {
    padding: 0 1.4rem 1.4rem 1.4rem;
    /* width: 90%; */
  }
  .CardContact {
    width: 100%;
  }
}

.Message {
  font-size: 700;
  font-family: inherit;
  color: #2ecc71;
}

.formDiv {
  max-width: 80rem;
  margin: 5rem auto 0 auto;
}
