.SectionLanguage {
  display: flex;
  flex-direction: column;

  /* justify-content: center; */
  align-items: center;
  margin-top: 9rem;
}

.SectionLanguage h1 {
  font-size: 4rem;
  color: #2ecc71;
  margin-bottom: 1.6rem;
}

.SectionLanguage hr {
  width: 20%;

  margin: auto;
  border: 1px solid #bdc3c76b;
}

@media only screen and (max-width: 75em) {
  .SectionLanguage {
    margin-top: 7rem;
  }
  .SectionLanguage h1 {
    font-size: 3rem;
  }
}
